.mv {
  display: grid;
  place-items: center;
  width: 100%;
  height: 560px;
  background-color: hsl(0, 0%, 100%);
}

.title {
  color: var(--color-text);
  font-size: clamp(2.5rem, 9vw, 5rem);
  font-family: 'Josefin Sans';
  letter-spacing: 0.005px;
}

@media screen and (max-width: 1024px) {
  .mv {
    height: 320px;
  }
}
