.wrapper {
  position: relative;
  display: grid;
  place-items: center;
  width: 180px;
  height: 180px;
  background: linear-gradient(135deg, hsl(317, 39%, 71%), hsl(52, 100%, 88%));
  border-radius: 0.5rem;
}

.text {
  position: absolute;
  top: 2%;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 2.3;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0.02em 0.02em hsl(0, 0%, 85%);
}

.circle {
  position: absolute;
  content: '';
  border-radius: 50%;
}

.bottomLeft {
  bottom: 6px;
  left: -25px;
  width: 80px;
  height: 80px;
  background-color: hsl(0, 71%, 75%);
}

.topRight {
  top: 25px;
  right: -13px;
  width: 50px;
  height: 50px;
  background-color: hsl(109, 71%, 75%);
}

.glassCard {
  width: 160px;
  height: 100px;
  border: 1px solid hsl(0, 0%, 100%, 0.2);
  border-radius: 0.5rem;
  background: hsl(0, 0%, 100%, 0.4);
  backdrop-filter: blur(5px);
}
