.loader {
  position: relative;
  width: 60px;
  height: 60px;
}

.loader::before {
  position: absolute;
  content: "";
  inset: -10px;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  background: conic-gradient(from 0deg at 50% 50%,hsl(358, 93%, 78%), transparent);
  border-radius: 50%;
  animation: rotate 1s linear 0s infinite;
}

.loader::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: hsl(0, 0%, 98%);
  border-radius: 50%;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
