.card {
  position: relative;
  display: grid;
  place-items: center;
  width: 280px;
  height: 280px;
  background-color: hsl(0, 0%, 98%);
  border-radius: 2rem;
  box-shadow: 4px 4px 20px hsl(0, 0%, 0%, 0.25);
  padding: 1rem;
}

.badgeWrapper {
  position: absolute;
  top: 1em;
  left: 1em;
}

.badge {
  color: hsl(0, 0%, 98%);
  text-transform: capitalize;
  background-color: var(--color-main);
  border-radius: 9999px;
  padding: 0.5em 1em;
}
