
.container {
  background-color: var(--base-color-1);
}

.board {
  width: 1000px;
  display: grid;
  gap: 80px;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  transform: translateY(-60px);
}
